<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Login Form</title>
</head>
<body>
<h1>Login Page</h1>
<form method="POST">
    <label> Name: <input type="text" name="username"> </label>
    <label> Password: <input type="password" name="password"></label>
    <input type="submit">
</form>

<!-- Comments -->
{% if msg%}
<p style="color:blue;">{{msg}}</p>
{%endif%}
{% if error%}
<p style="color:red;">{{error}}</p>
{%endif%}

</body>
</html>
